/*
CSS for Heading
*/

#para-id{
    font-weight: bold;
    color: #2c2f9c;
    background-color:rgb(223, 216, 228);
}

.para1{
    color:black;
}


/* CSS Selector */

.parent .child> p{
    color: red;
    padding: 20px 50px;
    background-color: #ff0;
}

.parent .child .rakhea{
    color:blue;
    background-color: red;
}
