*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container .parent{
    width: 300px;
    height: 500px;
    background-color: red;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 30px;
    padding-top: 60px;
    border-top: 5px dotted blue;
}

.container .parent .child{
    width: 200px;
    height: 300px;
    background-color: blue;
    margin:30px 20px;
    padding: 20px;
    text-align: justify;
   border: 5px solid #ccc;

}

/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
} */


.container .left{
    float: left;
}

.container .right{
    float: right;
    margin-right: 30px;
}