*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
static
relative
absolute
fixed
sticky

*/
.container{
    width: 400px;
    height: 400px;
    background-color: #f00;
    margin: 200px;
    position: relative;
    top:50px;
    left: 20px;
    z-index: 0;
}

.container .child{
    width: 200px;
    height: 200px;
    background-color: blue;
    position:absolute;
    top: 10px;
    left: 20px;
}

button{
    background-color: #f00;
    color: #fff;
    padding: 10px;
    width: 80px;
    height: 80px;
    border: 2px solid yellow;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    top: 100px;
}
.menu{
    position: sticky;
    top: 0px;
    z-index: 9;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.menu ul li{
    list-style: none;
  
    
    width: 200px;
   
}

.menu ul li a{
    display: inline-block;
    color: white;
    padding: 20px;
}